<footer class="group js-footer" id="footer" role="contentinfo">
    <div class="footer-wrapper">

        <div class="footer-meta">

            <div class="footer-meta-inner">
                <h2 class="sr-only">{{__ 'global.footer.supportingLinks' }}</h2>
                <ul>
                    <li><a href="/privacy-notice">{{__ 'global.footer.privacyNotice' }}</a></li>
                    <li><a href="/cookies">{{__ 'global.footer.cookies' }}</a></li>
                    <li><a href="/terms-conditions">{{__ 'global.footer.termsAndConditions' }}</a></li>
                    <li class="footer-meta__full-width-item">{{__ 'global.footer.builtBy' }} <a href="https://www.gov.uk/government/organisations/civil-service-resourcing">{{__ 'global.footer.humanResources' }}</a></li>
                </ul>
                <div class="open-government-licence">
                    <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">{{__ 'global.footer.openGovernmentLicence' }}</a></p>
                    <p>{{__ 'global.footer.availableUnder' }} <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">{{__ 'global.footer.governmentLicence' }}</a>, {{__ 'global.footer.otherwiseStated' }}</p>
                </div>
            </div>

            <div class="copyright">
                <img src="/images/icons/govuk-crest.png" title="Crown Logo of the UK Government" />
                <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">{{__ 'global.footer.copyright' }}</a>
            </div>

        </div>

    </div>
</footer>