<h1 class="heading-xlarge">{{__ 'internalJobs.page.title' }} <span class="heading-secondary">Some intro text goes here</span></h1>

{{#if success }}
    <div class="alert alert--success" role="alert" aria-labelledby="success-message" tabindex="-1">
        <h2 class="heading-medium alert__heading" id="success-message">Email verified successfully</h2>
        <p>You have been sent a link to your email address with further instructions.</p>
    </div>
{{/if}}

{{#unless success }}

    {{> messages/error
            errorMsg='global.messages.submissionErrorMsg'
            errors=errors }}

    <form method="POST" action="">
        <div class="form-section">

            <div class="form-group{{#if errors.email }} form-group-error{{/if}} {{#if departments }} form-group-error{{/if}}">
                <label class="form-label-bold" for="email">
                    <span class="form-label-bold">{{__ 'global.labels.email' }}</span>
                    {{#if errors.email.msg }}
                        <span class="error-message">{{__ errors.email.msg }}</span>
                    {{/if}}
                    {{#if departments }}
                        <span class="error-message">This email is associated with multiple departments. Please select a department below;</span>
                    {{/if}}
                </label>
                <input
                        class="form-control{{#if errors.email }} form-control-error{{/if}}"
                        id="email"
                        name="email"
                        type="email"
                        value="{{ formData.email }}">

                {{#if departments }}
                    <div class="form-section">
                        <label class="form-label-bold" for="departmentID">Department</label>
                        <select name="departmentID" id="departmentID" class="form-control form-control--width-auto">
                            {{#each departments}}
                                <option value="{{id}}">{{name}}</option>
                            {{/each}}
                        </select>
                    </div>
                {{/if}}
            </div>

            <div class="form-group">
                <input type="submit" class="button" value="{{__ 'global.buttons.submit' }}">
            </div>

        </div>
    </form>
{{/unless}}