<div class="search-filters" id="filterShowHide">

    <div class="form-group">
        <label class="form-label-bold" for="keyword">{{__ 'global.labels.keyword' }} ({{__ 'global.labels.optional' }})</label>
        <input class="form-control" id="keyword" name="keyword" type="text" value="{{ filters.keyword }}">
    </div>

    <div class="form-group">
        <label class="form-label-bold" for="location">{{__ 'global.labels.location' }}</label>
        <input class="form-control" id="location" name="location" type="text" value="{{ filters.location }}">
    </div>

    <div class="form-group">
        <fieldset class="form-multicheckbox">
            <legend class="form-label">{{__ 'results.page.departments' }} ({{__ 'global.labels.optional' }})</legend>

            <div class="form-multicheckbox__list">
            {{#each departments }}
                <div class="form-multicheckbox__item">
                    <input
                            type="checkbox"
                            name="depts"
                            id="dept-{{ id }}"
                            value="{{ id }}"
                        {{#inArray ../filters.depts id }} checked{{/inArray}}>
                    <label for="dept-{{ id }}">{{ name }}</label>
                </div>
            {{/each}}
            </div>

        </fieldset>
    </div>

    <div class="form-group">
        <input type="submit" class="button" value="{{__ 'global.buttons.updateResults' }}">
    </div>

    <p><a href="/">{{__ 'results.page.startAgain' }}</a></p>

</div>