<li class="job-search__item">
    <div class="job-search__item-row">
        <div class="job-search__item-first">&lt;department name&gt;</div>
        <div class="job-search__item-last">
            <h2 class="job-search__item-title"><a href="/job/details/{{ id }}">{{ title }}</a></h2>
            <h3 class="sr-only">Job summary</h3>
            <ul class="job-search__item-attributes">
                <li class="full-width"><strong class="job-search__item-attributes-label">Job description</strong> {{ description }}</li>
                <li><strong class="job-search__item-attributes-label">No. of vacancies</strong> {{ numberVacancies }}</li>
                <li><strong class="job-search__item-attributes-label">Location</strong> {{ location }}</li>
                <li><strong class="job-search__item-attributes-label">Salary</strong> {{ salary }}</li>
                <li><strong class="job-search__item-attributes-label">Job grade</strong> {{ grade }}</li>
            </ul>
        </div>
    </div>
</li>