<li class="job-search__item" id="search-result{{@index}}">
    <div class="job-search__item-row">

        <div class="job-search__item-first">
            <div class="job-search__item-image">

                {{#ifEquals department.id 77 'HMRC LOGO'}}
                    {{image}}
                {{/ifEquals}}

                {{#ifEquals department.id 105 'MOD LOGO'}}
                    {{image}}
                    <div class="gem-c-organisation-logo brand--ministry-of-defence">
                        <a class="gem-c-organisation-logo__container gem-c-organisation-logo__link gem-c-organisation-logo__crest gem-c-organisation-logo__crest--mod brand__border-color" href="/government/organisations/ministry-of-defence">
                            <span class="gem-c-organisation-logo__name">Ministry of Defence</span>
                        </a>
                    </div>
                {{/ifEquals}}

                {{#ifEquals department.id 79 'HOME OFFICE LOGO'}}
                    {{image}}
                {{/ifEquals}}

                {{#ifEquals department.id 36 'DWP LOGO'}}
                    {{image}}
                {{/ifEquals}}

                {{#ifEquals department.id 33 'INTERNATIONAL DEV LOGO'}}
                    {{image}}
                {{/ifEquals}}



                {{#if department.fullLogoPath }}
                <img src="{{ department.fullLogoPath }}" alt="{{ department.name }}" />
                {{/if}}

                {{#unless department.fullLogoPath }}
                    {{ department.name }}
                {{/unless}}

            </div>
        </div>

        <div class="job-search__item-last">

            <h3 class="job-search__item-title" id="search-result{{@index}}-title">
                <a href="/job/details/{{ id }}?return_url={{@root.returnUrl}}">{{ title }}</a>
            </h3>

            <h4 class="sr-only">{{__ 'results.page.jobSummary' }}</h4>
            <ul class="job-search__item-attributes">

                {{#if shortDescription }}
                <li id="search-result{{@index}}-description" class="full-width">
                    <strong class="job-search__item-attributes-label sr-only">{{__ 'global.labels.jobDesc' }}</strong>
                    <span class="job-search__item-attributes-value">{{ shortDescription }}</span>
                </li>
                {{/if}}

                <li id="search-result{{@index}}-salary">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.salary' }}</strong>
                    <span class="job-search__item-attributes-value">{{ salary }}</span>
                </li>

                <li id="search-result{{@index}}-location">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.location' }}</strong>
                    <span class="job-search__item-attributes-value">{{{ location }}}</span>
                </li>
                
                <li id="search-result{{@index}}-numvacancies">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.numVacancies' }}</strong>
                    <span class="job-search__item-attributes-value">{{ numberVacancies }}</span>
                </li>
                <li id="search-result{{@index}}-grade">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.jobGrade' }}</strong>
                    <span class="job-search__item-attributes-value">{{ grade }}</span>
                </li>
                <li id="search-result{{@index}}-closingdate">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.closingDate' }}</strong>
                    <span class="job-search__item-attributes-value">{{ closingDate }}</span>
                </li>
            </ul>

        </div>

    </div>
</li>