<li class="job-search__item" id="search-result{{@index}}">
    <div class="job-search__item-row">

        <div class="job-search__item-first">
            <div class="job-search__item-image">

                {{#if department.hasLogo }}
                <img src="/images/logos/department/{{ department.id }}.gif" alt="{{ department.name }}" />
                {{/if}}

                {{#unless department.hasLogo }}
                    {{ department.name }}
                {{/unless}}

            </div>
        </div>

        <div class="job-search__item-last">

            <h3 class="job-search__item-title" id="search-result{{@index}}-title">
                <a href="/job/details/{{ id }}?return_url={{@root.returnUrl}}">{{ title }}</a>
            </h3>

            <h4 class="sr-only">{{__ 'results.page.jobSummary' }}</h4>
            <ul class="job-search__item-attributes">
                <li id="search-result{{@index}}-description" class="full-width">
                    <strong class="job-search__item-attributes-label sr-only">{{__ 'global.labels.jobDesc' }}</strong>
                    <span class="job-search__item-attributes-value">{{ description }}</span>
                </li>
                <li id="search-result{{@index}}-salary">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.salary' }}</strong>
                    <span class="job-search__item-attributes-value">{{ salary }}</span>
                </li>
                <li id="search-result{{@index}}-location">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.location' }}</strong>
                    <span class="job-search__item-attributes-value">{{ location }}</span>
                </li>
                
                <li id="search-result{{@index}}-numvacancies">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.numVacancies' }}</strong>
                    <span class="job-search__item-attributes-value">{{ numberVacancies }}</span>
                </li>
                <li id="search-result{{@index}}-grade">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.jobGrade' }}</strong>
                    <span class="job-search__item-attributes-value">{{ grade }}</span>
                </li>
                <li id="search-result{{@index}}-closingdate">
                    <strong class="job-search__item-attributes-label">{{__ 'global.labels.closingDate' }}</strong>
                    <span class="job-search__item-attributes-value">{{ closingDate }}</span>
                </li>
            </ul>

        </div>

    </div>
</li>