{{#if errors}}

<div class="error-summary" role="alert" aria-labelledby="search-form-errors" tabindex="-1">

    <h2 class="heading-medium error-summary-heading" id="search-form-errors">{{{__ 'global.messages.submissionErrorMsg' }}}</h2>

    {{#if errorMsg}}
        <p>{{{__ errorMsg }}}</p>
    {{/if}}

    {{#if errorMsgOptional}}
        <p>{{{ errorMsgOptional }}}</p>
    {{/if}}

    {{#unless customMsg }}
        <ul class="error-summary-list">
            {{#each errors }}
            <li>
                <a href="#{{ this.param }}">{{__ this.msg }}</a>
            </li>
            {{/each}}
        </ul>
    {{/unless }}

</div>

{{/if}}