<div class="job-details">
    <div class="top-twocol job-details__top">
        <div class="top-twocol__first">
            <h1 class="heading-xlarge job-details__title">{{ vacancy.title }} <small>&lt;Department name&gt;</small></h1>
        </div>
        <div class="top-twocol__last">
            <p class="back-link"><a href="{{returnUrl}}">{{ @root.i18n.vacancy.page.backToResults }}</a></p>
            <p class="closing-date">{{ @root.i18n.global.labels.closingDate }}: {{ vacancy.closingDate }}</p>
            <a class="button button--block" href="/apply/{{vacancy.id}}" role="button">{{ @root.i18n.global.buttons.apply }}</a>
        </div>
    </div>
    <div class="job-details__bottom">
        <div class="job-details__bottom-first">
            <h2>{{ @root.i18n.global.labels.contactPoint }}</h2>
            <p>
                <span aria-label="{{ @root.i18n.global.labels.name }}">{{ vacancy.contactName }}</span><br />
                <span aria-label="{{ @root.i18n.global.labels.department }}">{{ vacancy.contactDepartment }}</span><br />
                <span aria-label="{{ @root.i18n.global.labels.email }}"><a href="mailto:{{ vacancy.contactEmail }}">{{ vacancy.contactEmail }}</a></span><br />
                <span aria-label="{{ @root.i18n.global.labels.telephone }}">{{ vacancy.contactTelephone }}</span>
            </p>
        </div>
        <div class="job-details__bottom-last">
            <h2>{{ @root.i18n.global.labels.jobDesc }}</h2>
            <p>{{ vacancy.description }}</p>
            <p class="closing-date">{{ @root.i18n.global.labels.closingDate }}: {{ vacancy.closingDate }}</p>
            <p><a class="button" href="/apply/{{vacancy.id}}" role="button">{{ @root.i18n.global.buttons.apply }}</a></p>
        </div>
    </div>
</div>