<h1 class="heading-xlarge">
    {{__ 'errors.error403.title_l1' }}
    <span class="heading-secondary">{{__ 'errors.error403.title_l2' }}</span>
</h1>
<p>{{__ 'errors.error403.line1' }}</p>
<ul class="list list-bullet">
    <li>{{{__ 'errors.error403.line1_li1' }}}</li>
    <li>{{{__ 'errors.error403.line1_li2' }}}</li>
</ul>
<p>{{{__ 'errors.error403.line2' }}}</p>