<h1 class="heading-xlarge">{{__ 'errors.error404.title' }}</h1>
<p>{{{__ 'errors.error404.returnString1' }}}</p>
<ul class="list-bullet list">
    <li>{{{__ 'errors.error404.returnString2'}}}</li>
    <li>{{{__ 'errors.error404.returnString3'}}}</li>
</ul>
<p>{{{__ 'errors.error404.returnString4'}}}</p>