<div class="text">

    <h1 class="heading-xlarge">{{__ 'cookies.page.title' }}</h1>

    <p>{{__ 'cookies.page.p1' }}</p>

    <p>{{__ 'cookies.page.p2' }}</p>

    <ul class="list list-bullet">
        <li>{{__ 'cookies.page.p3_li1' }}</li>
        <li>{{__ 'cookies.page.p3_li2' }}</li>
        <li>{{__ 'cookies.page.p3_li3' }}</li>
    </ul>

    <p>{{{__ 'cookies.page.p4' }}}</p>

    <h2 class="heading-medium">{{__ 'cookies.page.h1' }}</h2>

    <p>{{{__ 'cookies.page.p5' }}}</p>

    <p>{{{__ 'cookies.page.p6' }}}</p>

    <ul class="list list-bullet">
        <li>{{__ 'cookies.page.p6_li1' }}</li>
        <li>{{__ 'cookies.page.p6_li2' }}</li>
        <li>{{__ 'cookies.page.p6_li3' }}</li>
        <li>{{__ 'cookies.page.p6_li4' }}</li>
    </ul>

    <p>{{{__ 'cookies.page.p7' }}}</p>

    <p>{{{__ 'cookies.page.p8' }}}</p>

    <table>
    <caption class="heading-small">
        <h3>{{__ 'cookies.page.t1_label' }}</h3>
        </caption>
    <thead>
        <tr>
            <th scope="col">{{__ 'cookies.page.t1_th1' }}</th>
            <th scope="col">{{__ 'cookies.page.t1_th2' }}</th>
            <th scope="col">{{__ 'cookies.page.t1_th3' }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td scope="row">{{__ 'cookies.page.t1_r1c1' }}</td>
        <td>{{__ 'cookies.page.t1_r1c2' }}</td>
        <td>{{__ 'cookies.page.t1_r1c3' }}</td>
        </tr>
        <tr>
        <td scope="row">{{__ 'cookies.page.t1_r2c1' }}</td>
        <td>{{__ 'cookies.page.t1_r2c2' }}</td>
        <td>{{__ 'cookies.page.t1_r2c3' }}</td>
        </tr>
        <tr>
        <td scope="row">{{__ 'cookies.page.t1_r3c1' }}</td>
        <td>{{__ 'cookies.page.t1_r3c2' }}</td>
        <td>{{__ 'cookies.page.t1_r3c3' }}</td>
        </tr>
    </tbody>
    </table>

    <table>
    <caption class="heading-small">
        <h3>{{__ 'cookies.page.t2_label' }}</h3>
        </caption>
    <thead>
        <tr>
            <th scope="col">{{__ 'cookies.page.t2_th1' }}</th>
            <th scope="col">{{__ 'cookies.page.t2_th2' }}</th>
            <th scope="col">{{__ 'cookies.page.t2_th3' }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td scope="row">{{__ 'cookies.page.t2_r1c1' }}</td>
        <td>{{__ 'cookies.page.t2_r1c2' }}</td>
        <td>{{__ 'cookies.page.t2_r1c3' }}</td>
        </tr>
        <tr>
        <td scope="row">{{__ 'cookies.page.t2_r2c1' }}</td>
        <td>{{__ 'cookies.page.t2_r2c2' }}</td>
        <td>{{__ 'cookies.page.t2_r2c3' }}</td>
        </tr>
    </tbody>
    </table>

    <p>{{{__ 'cookies.page.p9' }}}</p>

    <h2 class="heading-medium">{{__ 'cookies.page.h2' }}</h2>

    <table>
    <caption class="heading-small">
        <h3>{{__ 'cookies.page.t3_label_l1' }}</h3>
            <p>{{__ 'cookies.page.t3_label_l2' }}</p>
        </caption>
    <thead>
        <tr>
            <th scope="col">{{__ 'cookies.page.t3_th1' }}</th>
            <th scope="col">{{__ 'cookies.page.t3_th2' }}</th>
            <th scope="col">{{__ 'cookies.page.t3_th3' }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td scope="row">{{__ 'cookies.page.t3_r1c1' }}</td>
        <td>{{__ 'cookies.page.t3_r1c2' }}</td>
        <td>{{__ 'cookies.page.t3_r1c3' }}</td>
        </tr>
        </tbody>
    </table>

    <table>
    <caption class="heading-small">
        <h3>{{__ 'cookies.page.t4_label_l1' }}</h3>
            <p>{{__ 'cookies.page.t4_label_l2' }}</p>
        </caption>
    <thead>
        <tr>
            <th scope="col">{{__ 'cookies.page.t4_th1' }}</th>
            <th scope="col">{{__ 'cookies.page.t4_th2' }}</th>
            <th scope="col">{{__ 'cookies.page.t4_th3' }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td scope="row">{{__ 'cookies.page.t4_r1c1' }}</td>
        <td>{{__ 'cookies.page.t4_r1c2' }}</td>
        <td>{{__ 'cookies.page.t4_r1c3' }}</td>
        </tr>
        </tbody>
    </table>

    <table>
    <caption class="heading-small">
        <h3>{{__ 'cookies.page.t5_label_l1' }}</h3>
        </caption>
    <thead>
        <tr>
            <th scope="col">{{__ 'cookies.page.t5_th1' }}</th>
            <th scope="col">{{__ 'cookies.page.t5_th2' }}</th>
            <th scope="col">{{__ 'cookies.page.t5_th3' }}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td scope="row">{{__ 'cookies.page.t5_r1c1' }}</td>
        <td>{{__ 'cookies.page.t5_r1c2' }}</td>
        <td>{{__ 'cookies.page.t5_r1c3' }}</td>
        </tr>
        </tbody>
    </table>

    <h3 class="heading-small">{{__ 'cookies.page.h3' }}</h3>
    <p>{{__ 'cookies.page.p10' }}</p>

</div>