<div class="text">
    <h1 class="heading-xlarge">{{__ 'home.page.title' }} <span class="heading-secondary">{{__ 'home.page.subtitle' }}</span></h1>
</div>

<div class="text">
    {{> messages/error
            errorMsg='global.messages.submissionErrorMsg'
            errors=errors }}
</div>

{{!--
<div class="panel panel-border-wide">
  <p>{{__ 'home.language.statement' }} (<a href="{{__ 'home.language.url' }}">{{__ 'home.language.label' }}</a>)</p>
</div>
--}}

<form method="GET" action="/">
    <div class="form-section">

        <div class="form-group">
            <label class="form-label-bold" for="keyword">
                <span class="form-label-bold">{{__ 'global.labels.keyword' }} ({{__ 'global.labels.optional' }})</span>
            </label>
            <input
               class="form-control"
               id="keyword"
               name="keyword"
               type="text"
               value="{{ formData.keyword }}">
        </div>

        <div class="form-group{{#if errors.location }} form-group-error{{/if}}">
            <label class="form-label-bold" for="location">
                <span class="form-label-bold">{{__ 'global.labels.location' }}</span>
                {{#if errors.location.msg }}
                    <span class="error-message">{{__ errors.location.msg }}</span>
                {{/if}}
            </label>
            <input
               class="form-control{{#if errors.location }} form-control-error{{/if}}"
               id="location"
               name="location"
               type="text"
               value="{{ formData.location }}">
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="{{__ 'global.buttons.search' }}">
        </div>

    </div>
</form>