<h1 class="heading-xlarge">{{ i18n.home.page.title }}</h1>

<div class="panel panel-border-wide">
  <p>{{ i18n.home.language.statement }} (<a href="{{ i18n.home.language.url }}">{{ i18n.home.language.label }}</a>)</p>
</div>

{{> messages/error
        errorMsg="Message to alert the user to a problem goes here"
        errors=errors }}

<form method="GET" action="/">
    <div class="form-section">

        <div class="form-group">
            <label class="form-label-bold" for="keyword">
                <span class="form-label-bold">{{ @root.i18n.global.labels.keyword }} ({{ @root.i18n.global.labels.optional }})</span>
            </label>
            <input
               class="form-control"
               id="keyword"
               name="keyword"
               type="text"
               value="{{ formData.keyword }}">
        </div>

        <div class="form-group{{#if errors.location }} form-group-error{{/if}}">
            <label class="form-label-bold" for="location">
                <span class="form-label-bold">{{ @root.i18n.global.labels.location }}</span>
                {{#if errors.location.msg }}
                    <span class="error-message">{{ errors.location.msg }}</span>
                {{/if}}
            </label>
            <input
               class="form-control{{#if errors.location }} form-control-error{{/if}}"
               id="location"
               name="location"
               type="text"
               value="{{ formData.location }}">
        </div>

        <div class="form-group">
            <input type="submit" class="button" value="{{ @root.i18n.global.buttons.search }}">
        </div>

    </div>
</form>