<div class="text">

    <h1 class="heading-xlarge">{{__ 'privacyPolicy.page.title' }}</h1>
    <p>{{__ 'privacyPolicy.page.p1' }}</p>

    <h2 class="heading-large">{{__ 'privacyPolicy.page.h1' }}</h2>
    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h2' }}</h3>
    <p>{{__ 'privacyPolicy.page.p2' }}</p>

    <p>{{__ 'privacyPolicy.page.p3' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p3_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p3_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p3_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p3_li4' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p4' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p4_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p4_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p4_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p4_li4' }}</li>
        <li>{{__ 'privacyPolicy.page.p4_li5' }}</li>
        <li>{{__ 'privacyPolicy.page.p4_li6' }}</li>
        <li>{{__ 'privacyPolicy.page.p4_li7' }}</li>
        <li>{{__ 'privacyPolicy.page.p4_li8' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p5' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p5_li1' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p6' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p6_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p6_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p6_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p6_li4' }}</li>
        <li>{{__ 'privacyPolicy.page.p6_li5' }}</li>
        <li>{{__ 'privacyPolicy.page.p6_li6' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p7' }}</p>

    <p>{{__ 'privacyPolicy.page.p8' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p8_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p8_li2' }}</li>
    </ul>

    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h3' }}</h3>
    <p>{{__ 'privacyPolicy.page.p9' }}</p>

    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p9_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p9_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p9_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p9_li4' }}</li>
        <li>{{__ 'privacyPolicy.page.p9_li5' }}</li>
        <li>{{__ 'privacyPolicy.page.p9_li6' }}</li>
        <li>{{__ 'privacyPolicy.page.p9_li7' }}</li>
        <li>{{{__ 'privacyPolicy.page.p9_li8' }}}
            <ul class="list list-bullet">
                <li>{{__ 'privacyPolicy.page.p9_li8_li1' }}</li>
                <li>{{__ 'privacyPolicy.page.p9_li8_li2' }}</li>
                <li>{{__ 'privacyPolicy.page.p9_li8_li3' }}</li>
                <li>{{__ 'privacyPolicy.page.p9_li8_li4' }}</li>
                <li>{{__ 'privacyPolicy.page.p9_li8_li5' }}</li>
            </ul>
        </li>
    </ul>

    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h4' }}</h3>
    <p>{{__ 'privacyPolicy.page.p10' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p10_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p10_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p10_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p10_li4' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p11' }}</p>

    <p>{{__ 'privacyPolicy.page.p12' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p12_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p12_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p12_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p12_li4' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p13' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p13_li1' }}</li>
    </ul>

    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h5' }}</h3>
    <p>{{__ 'privacyPolicy.page.p14' }}</p>
    <p>{{__ 'privacyPolicy.page.p15' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p15_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p15_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p15_li3' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p16' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p16_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li4' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li5' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li6' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li7' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li8' }}</li>
        <li>{{__ 'privacyPolicy.page.p16_li9' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p17' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p17_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li4' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li5' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li6' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li7' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li8' }}</li>
        <li>{{__ 'privacyPolicy.page.p17_li9' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p18' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p18_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p18_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p18_li3' }}</li>
        <li>{{__ 'privacyPolicy.page.p18_li4' }}</li>
        <li>{{__ 'privacyPolicy.page.p18_li5' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p19' }}</p>

    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h6' }}</h3>
    <p>{{__ 'privacyPolicy.page.p20' }}</p>
    <p>{{__ 'privacyPolicy.page.p21' }}</p>
    <p>{{__ 'privacyPolicy.page.p22' }}</p>
    <p>{{__ 'privacyPolicy.page.p23' }}</p>

    <h3 class="heading-large">{{__ 'privacyPolicy.page.h7' }}</h3>
    <p>{{__ 'privacyPolicy.page.p24' }}</p>
    <p>{{__ 'privacyPolicy.page.p25' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p25_li1' }}</li>
        <li>{{{__ 'privacyPolicy.page.p25_li2' }}}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p26' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p26_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p26_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p26_li3' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p27' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p27_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p27_li2' }}</li>
        <li>{{__ 'privacyPolicy.page.p27_li3' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p28' }}</p>
    <ul class="list list-bullet">
        <li>{{{__ 'privacyPolicy.page.p28_li1' }}}</li>
        <li>{{__ 'privacyPolicy.page.p28_li2' }}
            <ul class="list list-bullet">
                <li>{{{__ 'privacyPolicy.page.p28_li2_li1' }}}</li>
                <li>{{{__ 'privacyPolicy.page.p28_li2_li2' }}}</li>
                <li>{{{__ 'privacyPolicy.page.p28_li2_li3' }}}</li>
                <li>{{{__ 'privacyPolicy.page.p28_li2_li4' }}}</li>
            </ul>
        </li>
        <li>{{__ 'privacyPolicy.page.p28_li3' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p29' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p29_li1' }}</li>
        <li>{{__ 'privacyPolicy.page.p29_li2' }}</li>
        <li>{{{__ 'privacyPolicy.page.p29_li3' }}}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p30' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p30_li1' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p31' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p31_li1' }}</li>
    </ul>

    <p>{{__ 'privacyPolicy.page.p32' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'privacyPolicy.page.p32_li1' }}</li>
    </ul>

    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h8' }}</h3>
    <p>{{__ 'privacyPolicy.page.p33' }}</p>

    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h9' }}</h3>
    <p>{{__ 'privacyPolicy.page.p34' }}</p>

    <address>
        <p>
            {{__ 'privacyPolicy.page.p35_line1' }}<br />
            {{__ 'privacyPolicy.page.p35_line2' }}<br />
            {{__ 'privacyPolicy.page.p35_line3' }}<br />
            {{__ 'privacyPolicy.page.p35_line4' }}<br />
            {{__ 'privacyPolicy.page.p35_line5' }}<br />
            {{__ 'privacyPolicy.page.p35_line6' }}
        </p>
        <p>{{__ 'privacyPolicy.page.p36' }}</p>
        <p>{{{__ 'privacyPolicy.page.p37' }}}</p>
    </address>

    <p>{{__ 'privacyPolicy.page.p38' }}</p>

    <h3 class="heading-medium">{{__ 'privacyPolicy.page.h10' }}</h3>
    <p>{{__ 'privacyPolicy.page.p39' }}</p>
    <p>{{__ 'privacyPolicy.page.p40' }}</p>
    <p>{{{__ 'privacyPolicy.page.p41' }}}</p>
    <p>{{__ 'privacyPolicy.page.p42' }}</p>

    <address>
        <p>
            {{__ 'privacyPolicy.page.p43_line1' }}<br />
            {{__ 'privacyPolicy.page.p43_line2' }}<br />
            {{__ 'privacyPolicy.page.p43_line3' }}<br />
            {{__ 'privacyPolicy.page.p43_line4' }}<br />
            {{__ 'privacyPolicy.page.p43_line5' }}<br />
            {{__ 'privacyPolicy.page.p43_line6' }}
        </p>
        <p>{{{__ 'privacyPolicy.page.p44' }}}</p>
    </address>

    <p>{{{__ 'privacyPolicy.page.p45' }}}</p>

</div>