<h1 class="heading-xlarge">{{__ 'results.page.title' }}</h1>

{{> messages/error
        errorMsg='global.messages.submissionErrorMsg'
        errors=errors }}

<form name="filters" method="GET" action="/results">

    <div class="job-search__total-results">
        <p><strong id="search-results-total">{{ pager.totalResults }}</strong> {{__n 'results.page.totalJobsFoundPlural' 'results.page.totalJobsFoundSingular' pager.totalResults }}</p>
        <div class="sort">
            <p>Sort by</p>
            <select name="vacancySortMethod" id="vacancySortMethod" class="form-control" onchange="document.filters.submit()">
                <option value="CLOSING_DATE" {{#equal filters.vacancySortMethod "CLOSING_DATE"}} selected {{/equal}}>Closing Date</option>
                <option value="RECENTLY_ADDED" {{#equal filters.vacancySortMethod "RECENTLY_ADDED"}} selected {{/equal}}>Recently added</option>
            </select>
            <noscript>
                <button type="submit" class="button">Sort</button>
            </noscript>
        </div>
    </div>

    <div class="job-search">

        <div class="job-search__results-container">

            <div class="job-search__filters">
                <h2 class="job-search__filters-title">
                    <span class="js-showhide" data-showhide-target-id="filterShowHide" tabindex="-1">{{__ 'results.page.filterResultsTitle' }}</span>
                </h2>
                {{> search/filter
                        filters=filters
                        options=options
                        errors=errors }}
            </div>

            <div class="job-search__results-list-container">

                <h2 class="sr-only">{{__ 'results.page.yourResults' }}</h2>

                {{#if vacancies}}
                    {{> search/results items=vacancies }}
                    {{> pagination/pagination pager }}
                    <div class="job-search__rpp">
                        <label for="rpp">Display results</label>
                        <select name="size" id="rpp" class="form-control form-control--width-auto js-submitOnChange">
                            {{#each options.rrp }}
                                <option value={{ this.value }} {{#compare this.value ../filters.size}} selected{{/compare}}>{{ this.label }}</option>
                            {{/each}}
                        </select>
                        <input type="submit" class="button" value="{{__ 'results.page.displayResultsButton' }}">
                    </div>
                {{/if}}

                {{#unless vacancies}}
                    <div class="job-search__no-results">
                        <p>{{__ 'results.page.noResultsText1' }} - <a href="/">{{__ 'results.page.noResultsText2' }}</a>.</p>
                    </div>
                {{/unless}}

            </div>

        </div>

    </div>

</form>