<div class="text">

    <h1 class="heading-xlarge">{{__ 'terms.page.title' }}</h1>
    <p>{{{__ 'terms.page.p1' }}}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h1' }}</h2>
    <p>{{__ 'terms.page.p2' }}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h2' }}</h2>
    <p>{{__ 'terms.page.p3' }}</p>
    <p>{{__ 'terms.page.p4' }}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h3' }}</h2>
    <p>{{__ 'terms.page.p5' }}</p>
    <p>{{{__ 'terms.page.p6' }}}</p>
    <ul class="list list-bullet">
        <li>{{__ 'terms.page.p6_l1' }}</li>
        <li>{{__ 'terms.page.p6_l2' }}</li>
    </ul>

    <h2 class="heading-medium">{{__ 'terms.page.h4' }}</h2>
    <p>{{__ 'terms.page.p7' }}</p>
    <p>{{__ 'terms.page.p8' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'terms.page.p8_l1' }}</li>
        <li>{{__ 'terms.page.p8_l2' }}</li>
    </ul>
    <p>{{__ 'terms.page.p9' }}</p>
    <p>{{__ 'terms.page.p10' }}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h5' }}</h2>
    <p>{{__ 'terms.page.p11' }}</p>
    <p>{{__ 'terms.page.p12' }}</p>
    <p>{{__ 'terms.page.p13' }}</p>
    <p>{{__ 'terms.page.p14' }}</p>
    <p>{{__ 'terms.page.p15' }}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h6' }}</h2>
    <p>{{__ 'terms.page.p16' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'terms.page.p16_l1' }}</li>
        <li>{{__ 'terms.page.p16_l2' }}</li>
        <li>{{__ 'terms.page.p16_l3' }}</li>
        <li>{{__ 'terms.page.p16_l4' }}</li>
    </ul>

    <h2 class="heading-medium">{{__ 'terms.page.h7' }}</h2>
    <p>{{__ 'terms.page.p17' }}</p>
    <p>{{{__ 'terms.page.p18' }}}</p>
    <p>{{__ 'terms.page.p19' }}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h8' }}</h2>
    <p>{{__ 'terms.page.p20' }}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h9' }}</h2>
    <p>{{__ 'terms.page.p21' }}</p>
    <p>{{__ 'terms.page.p22' }}</p>
    <p>{{__ 'terms.page.p23' }}</p>
    <p>{{__ 'terms.page.p24' }}</p>

    <h2 class="heading-medium">{{__ 'terms.page.h10' }}</h2>
    <p>{{__ 'terms.page.p25' }}</p>
    <ul class="list list-bullet">
        <li>{{__ 'terms.page.p25_l1' }}</li>
        <li>{{__ 'terms.page.p25_l2' }}</li>
    </ul>

    <h2 class="heading-medium">{{__ 'terms.page.h11' }}</h2>
    <p>{{__ 'terms.page.p26' }}</p>
    <p>{{__ 'terms.page.p27' }}</p>

</div>